:root {
  --color-faded-white: rgba(255, 255, 255, 0.6);
  --color-primary: #fe00fe;
  --color-secondary: #7700a6;
  --color-tertiary: #0016ee;
  --color-text: #fff;

  --radius-header: 0.5rem;
}

body {
  margin: 0;
  background: linear-gradient(
    to top,
    var(--color-primary),
    var(--color-secondary),
    var(--color-tertiary)
  );
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;

  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h1,
h2 {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.ranking-numbers {
  font-family: "Tilt Prism", "Bebas Neue", Arial, Helvetica, sans-serif;
}

/* ============== HEADER STYLING ============== */
.header {
  background-color: var(--color-faded-white);
  padding: 0.5rem;
  margin: 0.5rem;
  color: var(--color-text);
  border-radius: var(--radius-header);
  text-align: center;
}

.main-heading {
  font-size: 3rem;
}

.sub-heading {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  font-size: 1.75rem;
}

/* ================= ANIMATIONS ============== */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
