:root {
  --color-faded-white: rgba(255, 255, 255, 0.6);
  --color-primary: #ff2ad4;
  --color-secondary: #268BFF;
  --color-tertiary: #0016ee;
  --color-text: #fff;

  --radius-header: 0.5rem;
}

body {
  margin: 0;
  background: linear-gradient(
    to top,
    var(--color-primary),
    var(--color-secondary)
    /* var(--color-tertiary) */
  );
  background-repeat: no-repeat;

  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h1,
h2 {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.ranking-numbers, .chosen-song-numbers {
  font-family: "Tilt Prism", "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: xxx-large;
  letter-spacing: 0.1em;
}

/* ============== HEADER STYLING ============== */
.header {
  background-color: var(--color-faded-white);
  padding: 0.5rem;
  margin: 0.5rem;
  color: var(--color-text);
  border-radius: var(--radius-header);
  text-align: center;
}

.main-heading {
  font-size: 3rem;
}

.sub-heading {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  font-size: 1.75rem;
}

/* ============== LAYOUT ============== */
.container {
  display: flex;
  flex-direction: column;
}

.search, .chosensong, .ranking-module {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: var(--radius-header);
}

.search, .ranking-module {
  background-color: rgba(255, 255, 255, 0.5);
}

.search {
  color: var(--color-text);
  text-align: center;
}

.chosensong {
  background-color: var(--color-text);
}

.chosen-song-numbers {
  color: var(--color-secondary);
}

.ranking-module > .ranking-numbers {
  color: var(--color-tertiary);
}

.ranking-module {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.upvote {
  background: url(/images/UpvoteandDownvoteicons.png) no-repeat;
  display: block;
  width: 38px;
  height: 31px;
  overflow: hidden;
  text-indent: 9999px;
}

.downvote {
  background: url(/images/UpvoteandDownvoteicons.png) no-repeat;
  display: block;
  width: 40px;
  height: 32px;
  overflow: hidden;
  text-indent: 9999px;
  background-position: -38px 0;
}

.upvote:hover, .upvote:focus {
  background-position: 0 -39px;
}

.downvote:hover, .downvote:focus {
  background-position: -38px -39px;
}

/* ================= ANIMATIONS ============== */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
