body {
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
}

.ranking-numbers {
    font-family: 'Tilt Prism', 'Bebas Neue', Arial, Helvetica, sans-serif;
}